
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 sidebar">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
            <li class="nav-item" style="width: 190px;">
                <a routerLink="/outletuser" routerLinkActive="active" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                </a>
            </li>
            <li class="nav-item" style="width: 190px;">
                <a href="#" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Route Optimization</span>
                </a>
            </li>
            <li class="nav-item" style="width: 190px;">
                <a routerLink="/orderhistory" routerLinkActive="active" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Order History</span>
                </a>
            </li>
            <li class="nav-item" style="width: 190px;">
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Setting</span>
                </a>
            </li>
            
        </ul>           
    </div>