
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100" style="margin-left: 12px; position: fixed;">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline" style="color: black;">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" style=" margin-top: 30px;">
            <li class="nav-item" style="width: 190px;">
                <a routerLink="/warehouseuser" routerLinkActive="active" class="nav-link align-middle px-0">
                    <i class="fa-solid fa-house-user"></i> <span class="ms-1 d-none d-sm-inline">Order Management</span>
                </a>
            </li>
            <li class="nav-item" style="width: 190px;">
                <a routerLink="/stockmanagement" routerLinkActive="active" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Stock Management</span>
                </a>
            </li>
            <li class="nav-item" style="width: 190px;">
                <a href="#" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Vehicle Management</span>
                </a>
            </li>
            <li class="nav-item" style="width: 190px;">
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Setting</span>
                </a>
            </li>
            
        </ul>           
    </div>