
<div class="container-fluid ou_homepage">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="height: 100vh;background-color: #ECEFF4;">
            <app-outlet-user-sidebar></app-outlet-user-sidebar>
        </div>
        
        <div class="col py-3">

            
            <app-profile></app-profile>

            <h1 class="home">Order History</h1>


            <div class="o_container">
				<div class="order_form">
			  		<div class="order_title">Detailed orders</div></div><br>
			  			<table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Order/Return ID</th>
                              <th scope="col">Product</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Order date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Product C</td>
                              <td>290</td>
                              <td>28/11/2022</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Product D</td>
                              <td>850</td>
                              <td>11/12/2022</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Product C</td>
                              <td>550</td>
                              <td>20/12/2022</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Product A</td>
                              <td>675</td>
                              <td>02/01/2022</td>
                            </tr>
                          </tbody>
                        </table>
			  			
				</div>
			</div>
        </div>
</div>